<a href="https://colab.research.google.com/github/ahsan-z-khan/IDS-Model-for-SCADA/blob/master/IDS_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Intrusion detection model using Machine Learning to classify SCADA network vulnerablities on a gas pipeline Dataset.**

In [0]:
#Importing required libraries 
from datetime import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor

In [0]:
#Initializing Google Drive

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
#Importing the Dataset
dataset = pd.read_csv('gdrive/My Drive/IDS/Dataset/MainDataset.csv')
dataset = dataset.replace('?',np.nan)

#Setting the label

binL = dataset['binary']
catL = dataset['categorized']
speL = dataset['specified']

#dataWOlabel = dataset['address','function','length','setpoint','gain','reset rate','deadband','cycle time','rate','system mode','control scheme','pump','solenoid','pressure measurement','crc rate','command response','time']

#Setting the features

data = dataset.drop(['binary','categorized','specified'], axis = 1)

#Extracting the Command and Response Payload

cPayload = data[['setpoint','gain','reset rate','deadband','cycle time','rate','system mode','control scheme','pump','solenoid']]
rPayload = data['pressure measurement']

In [0]:
#Preprocessing the dataset with Mean Value Imputation

cPayload.describe()

       setpoint   gain reset rate  ... control scheme   pump solenoid
count     64100  64100      64100  ...          64100  64100    64100
unique      541     16       1902  ...              2      2        2
top        10.4    113     0.3505  ...              1      0        0
freq       1144   8548        759  ...          42148  43702    34537

[4 rows x 10 columns]

       setpoint gain reset rate  ... control scheme pump solenoid
0           NaN  NaN        NaN  ...            NaN  NaN      NaN
1           NaN  NaN        NaN  ...            NaN  NaN      NaN
3           NaN  NaN        NaN  ...            NaN  NaN      NaN
4           NaN  NaN        NaN  ...            NaN  NaN      NaN
5           NaN  NaN        NaN  ...            NaN  NaN      NaN
7           NaN  NaN        NaN  ...            NaN  NaN      NaN
8           NaN  NaN        NaN  ...            NaN  NaN      NaN
9           NaN  NaN        NaN  ...            NaN  NaN      NaN
11          NaN  NaN        NaN  ...            NaN  NaN      NaN
12          NaN  NaN        NaN  ...            NaN  NaN      NaN
13          NaN  NaN        NaN  ...            NaN  NaN      NaN
15          NaN  NaN        NaN  ...            NaN  NaN      NaN
16          NaN  NaN        NaN  ...            NaN  NaN      NaN
17          NaN  NaN        NaN  ...            NaN  NaN      NaN
19          NaN  NaN        NaN  ...            NaN  NaN      NaN
20          NaN  NaN        NaN  ...            NaN  NaN      NaN
21          NaN  NaN        NaN  ...            NaN  NaN      NaN
23          NaN  NaN        NaN  ...            NaN  NaN      NaN
24          NaN  NaN        NaN  ...            NaN  NaN      NaN
25          NaN  NaN        NaN  ...            NaN  NaN      NaN
27          NaN  NaN        NaN  ...            NaN  NaN      NaN
28          NaN  NaN        NaN  ...            NaN  NaN      NaN
29          NaN  NaN        NaN  ...            NaN  NaN      NaN
31          NaN  NaN        NaN  ...            NaN  NaN      NaN
32          NaN  NaN        NaN  ...            NaN  NaN      NaN
33          NaN  NaN        NaN  ...            NaN  NaN      NaN
35          NaN  NaN        NaN  ...            NaN  NaN      NaN
36          NaN  NaN        NaN  ...            NaN  NaN      NaN
37          NaN  NaN        NaN  ...            NaN  NaN      NaN
39          NaN  NaN        NaN  ...            NaN  NaN      NaN
...         ...  ...        ...  ...            ...  ...      ...
274589      NaN  NaN        NaN  ...            NaN  NaN      NaN
274590      NaN  NaN        NaN  ...            NaN  NaN      NaN
274591      NaN  NaN        NaN  ...            NaN  NaN      NaN
274593      NaN  NaN        NaN  ...            NaN  NaN      NaN
274594      NaN  NaN        NaN  ...            NaN  NaN      NaN
274595      NaN  NaN        NaN  ...            NaN  NaN      NaN
274597      NaN  NaN        NaN  ...            NaN  NaN      NaN
274598      NaN  NaN        NaN  ...            NaN  NaN      NaN
274599      NaN  NaN        NaN  ...            NaN  NaN      NaN
274601      NaN  NaN        NaN  ...            NaN  NaN      NaN
274602      NaN  NaN        NaN  ...            NaN  NaN      NaN
274603      NaN  NaN        NaN  ...            NaN  NaN      NaN
274605      NaN  NaN        NaN  ...            NaN  NaN      NaN
274606      NaN  NaN        NaN  ...            NaN  NaN      NaN
274607      NaN  NaN        NaN  ...            NaN  NaN      NaN
274609      NaN  NaN        NaN  ...            NaN  NaN      NaN
274610      NaN  NaN        NaN  ...            NaN  NaN      NaN
274611      NaN  NaN        NaN  ...            NaN  NaN      NaN
274613      NaN  NaN        NaN  ...            NaN  NaN      NaN
274614      NaN  NaN        NaN  ...            NaN  NaN      NaN
274615      NaN  NaN        NaN  ...            NaN  NaN      NaN
274617      NaN  NaN        NaN  ...            NaN  NaN      NaN
274618      NaN  NaN        NaN  ...            NaN  NaN      NaN
274619      NaN  NaN        NaN  ...            NaN  NaN      NaN
274621      NaN  NaN        NaN  ...            NaN  NaN      NaN
274622      NaN  NaN        NaN  ...            NaN  NaN      NaN
274623      NaN  NaN        NaN  ...            NaN  NaN      NaN
274625      NaN  NaN        NaN  ...            NaN  NaN      NaN
274626      NaN  NaN        NaN  ...            NaN  NaN      NaN
274627      NaN  NaN        NaN  ...            NaN  NaN      NaN

[210528 rows x 10 columns]

In [0]:
 m# Generating New feature representing time difference between each packet

time = data[:,16]

timeDiff = [0] 

for i in range(1,len(time)):
  now = datetime.utcfromtimestamp(time[i-1])
  later = datetime.utcfromtimestamp(time[i])
  timeDiff.append(int((later - now).total_seconds()))


data[:,16] = timeDiff

print(data[:,16])

[0 0 2 ... 0 2 0]

In [0]:
#Splitting data into training set, validation set and test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

IndentationError: ignored